.full-job {
    width: 750px;
    align-items: flex-start;
}

.job-title{
    width: 400px;
    align-items: flex-start;

}

.job-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.job-title p{
    color: darkblue;
}

.job-title p:hover{
    text-decoration: underline;
}